@model IEnumerable<ViewModel.InstituteSmallVM>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout/_Site.cshtml";
}


<!-- Scroll To Up -->
<a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top" role="button" title="برگشت به بالا" data-toggle="tooltip" data-placement="left"><span class="fas fa-angle-up"></span></a>


<!--  Header Carousel -->
@*@Html.Partial("Partial/_HeaderCarouselPartial")*@
@*@{Html.RenderAction("HeaderSlider", "Home");}*@

<header id="HeaderSlide" class="masthead index">
    <div class="overlay"></div>
        <!-- For Loading -->
        @*<div class="wrapper text-center">
            <div class="cssload-loader"></div>
            <h4>لطفا کمی صبر کنید...</h4>
        </div>*@
        <!-- End Loading -->
    

</header>

    <!--  WHO ARE YOU -->
    @*@Html.Partial("Partial/_WhoAreYouPartial")*@

    <div id="mywho" class="index-card mb-5">
        <!-- For Loading -->
        @*<div class="wrapper text-center">
                <div class="cssload-loader"></div>
                <h4>لطفا کمی صبر کنید...</h4>
            </div>*@
        <!-- End Loading -->
    </div>



    <!-- More School -->

    @Html.Partial("Partial/_MoreSchoolPartial",Model)

    <!--  Comment -->

    @Html.Partial("Partial/_CommentIndexPartial")

     <!-- Comment -->
<div id="comment">
    <div class="container">
        <div class="title text-right">
            <h4>نظرات کاربران</h4>
            <hr>
            <p>شما هم می توانید <strong>نظرات</strong> خود را برای ما <a href="contact.html">ارسال</a> کنید...</p>
        </div>
        <div id="carousel-comment" class="carousel slide carousel-fade" data-ride="carousel">
            <ol class="carousel-indicators p-0">
                <li data-target="#carousel-comment" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-comment" data-slide-to="1"></li>
                <li data-target="#carousel-comment" data-slide-to="2"></li>
                <li data-target="#carousel-comment" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="user-comment text-center">
                        <img class="rounded-circle" src="~/Content/images/user8-128x128.jpg" width="100" height="100" alt="user-comment-pic">
                        <h5>سمیر دغاغله</h5>
                        <small>کارمند</small>
                        <div class="text-comment d-flex justify-content-around">
                            <p>آیا وب سایت شما برای کاربرانی که از موبایل استفاده می کنند بهینه شده است؟</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="user-comment text-center">
                        <img class="rounded-circle" src="~/Content/images/user3-128x128.jpg" width="100" height="100" alt="user-comment-pic">
                        <h5>پریسا عبادی</h5>
                        <small>مدیر مدرسه نمیدونم چی</small>
                        <div class="text-comment d-flex justify-content-around">
                            <p>به نظرم دسترسی به نرم افزار رو برای عموم آزاد کنید بهتره</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="user-comment text-center">
                        <img class="rounded-circle" src="~/Content/images/user5-128x128.jpg" width="100" height="100" alt="user-comment-pic">
                        <h5>ندا خانمحمدی</h5>
                        <small>آموزگار</small>
                        <div class="text-comment d-flex justify-content-around">
                            <p>همیشه دنبال یه نرم افزار بودم که اطلاعات تحصیلی فرزندم رو داشته باشم ، مرسی...</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="user-comment text-center">
                        <img class="rounded-circle" src="~/Content/images/user6-128x128.jpg" width="100" height="100" alt="user-comment-pic">
                        <h5>رضا آزاده تبریزی</h5>
                        <small>مشاور تحصیلی</small>
                        <div class="text-comment d-flex justify-content-around">
                            <p>چرا تو همه ی مدارس نیومدید؟ ما منتظریم...</p>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev slide-control" href="#carousel-comment" role="button" data-slide="prev">
                <span class="fas fa-long-arrow-alt-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next slide-control" href="#carousel-comment" role="button" data-slide="next">
                <span class="fas fa-long-arrow-alt-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>


    @section Scripts{
        <script>

            // Header Slider Ajax Func
            function LoadHeaderSlider() {
                $.ajax
                ({
                    url: "/Home/HeaderSlider",
                    contentType: "application/html; charset=utf-8",
                    type: "GET",
                    cache: !0,
                    datatype: "html",
                    success: function (t) {
                        $("#HeaderSlide").html(t)

                        //$('.carousel').carousel({
                        //    interval: 3000 //changes the speed
                        //})
                    },
                    error: function () {
                        $("#HeaderSlide").html("Post Not Found")
                    }
                })
            }

            // Who Are You Ajax Func

            function LoadWhoAreYou() {
                $.ajax
                ({
                    url: "/Home/Whoareyou",
                    contentType: "application/html; charset=utf-8",
                    type: "GET",
                    cache: !0,
                    datatype: "html",
                    success: function (t) {
                        $("#mywho").html(t)
                    },
                    error: function () {
                        $("#mywho").html("Post Not Found")
                    }
                })
            }


            $(document).ready(function (ev) {
                LoadHeaderSlider();
                LoadWhoAreYou();
            });
        </script>
    }
